.card {
  padding: 26px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.22s ease;
}

.card-category {
  color: #6c6969;
}

.card-description {
  margin: 1.5rem 0;
  color: #464646;
}

.open {
  background-color: rgb(154, 234, 154);
}

.close {
  background-color: rgb(241, 151, 151);
}
